/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  nav ul li a:hover{
    color: #f44336;
  }
  
 #video-container {
  width: 100vw;
  height: auto;
  position: relative;
  z-index:1;
  top: 0;
  left: 0;
}

#video-container .text-overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
}
#video-container .text-overlay h1{
  color:white;
  text-shadow: 3px 5px 3px black;
}
#video-container .text-overlay h1 span{
  color:orangered;
}
#video-container .text-overlay p {
  color:white;
  font-weight: 700;
  text-shadow: 3px 5px 3px black;
}
#video-container .text-overlay button{
  border-radius: 5px;
  size: 30px;
  height: 30px;
  background-color: orange;
  box-shadow: 0 3px 2px white;
}
#video-container .text-overlay button:hover {
  background-color: #f44336;
  color: white;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
    
    .menu-item {
    margin-bottom: 30px;
    }
    .hero{
     background-color: #333;
     
    }
    
    
    /*.container {
      max-width: 400px;
      margin: 0 auto;
      text-align: center;
    }
    
    .form-group {
      margin-bottom: 20px;
    }
    
    .form-group label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }
    
    .form-group textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      resize: vertical;
    }
    
    .form-group button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      border: none;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
    }
    
    .form-group button:hover {
      background-color: #45a049;
    }*/
  

        .contact {
        padding: 40px;
        text-align: center;
        background-color: black;
        color:white;
        font-weight: 700;
        }
        
        footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
        }